<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>controller.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>controller.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfileController</servlet-name>
        <servlet-class>controller.CusProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteReviewController</servlet-name>
        <servlet-class>controller.WriteReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessController</servlet-name>
        <servlet-class>controller.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>controller.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout2Controller</servlet-name>
        <servlet-class>controller.Checkout2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>controller.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailController</servlet-name>
        <servlet-class>controller.HistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusUpdateProfileController</servlet-name>
        <servlet-class>controller.CusUpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayController</servlet-name>
        <servlet-class>controller.DisplayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterNewPasswordController</servlet-name>
        <servlet-class>controller.EnterNewPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginController</servlet-name>
        <servlet-class>controller.StaffLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>controller.admin.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>controller.admin.ListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderController</servlet-name>
        <servlet-class>controller.admin.ListOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.admin.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.admin.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountantOrderController</servlet-name>
        <servlet-class>controller.accountant.AccountantOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportOrderController</servlet-name>
        <servlet-class>controller.accountant.ExportOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDiscountController</servlet-name>
        <servlet-class>controller.admin.ListDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountController</servlet-name>
        <servlet-class>controller.admin.AddDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageController</servlet-name>
        <servlet-class>controller.admin.AdminPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagerController</servlet-name>
        <servlet-class>controller.manager.OrderManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanCustomerController</servlet-name>
        <servlet-class>controller.admin.BanCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.admin.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controller.admin.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>controller.admin.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>controller.admin.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanStaffController</servlet-name>
        <servlet-class>controller.admin.BanStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscountController</servlet-name>
        <servlet-class>controller.admin.DeleteDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffController</servlet-name>
        <servlet-class>controller.admin.EditStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffController</servlet-name>
        <servlet-class>controller.admin.ListStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingController</servlet-name>
        <servlet-class>controller.marketing.MarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingDiscountController</servlet-name>
        <servlet-class>controller.marketing.MarketingDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutController</servlet-name>
        <servlet-class>controller.AdminLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutController</servlet-name>
        <servlet-class>controller.StaffLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingProductController</servlet-name>
        <servlet-class>controller.marketing.MarketingProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAddProductController</servlet-name>
        <servlet-class>controller.marketing.MAddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MEditProductController</servlet-name>
        <servlet-class>controller.marketing.MEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MDeleteProduct</servlet-name>
        <servlet-class>controller.marketing.MDeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/ad_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileController</servlet-name>
        <url-pattern>/cus_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteReviewController</servlet-name>
        <url-pattern>/writereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessController</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout2Controller</servlet-name>
        <url-pattern>/checkout2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailController</servlet-name>
        <url-pattern>/historydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusUpdateProfileController</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/change-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayController</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterNewPasswordController</servlet-name>
        <url-pattern>/enternewpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginController</servlet-name>
        <url-pattern>/stafflogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/list-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/list-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderController</servlet-name>
        <url-pattern>/list-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountantOrderController</servlet-name>
        <url-pattern>/accountantorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportOrderController</servlet-name>
        <url-pattern>/exportorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDiscountController</servlet-name>
        <url-pattern>/list-discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountController</servlet-name>
        <url-pattern>/adddiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageController</servlet-name>
        <url-pattern>/adminpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagerController</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanCustomerController</servlet-name>
        <url-pattern>/bancus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/addstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanStaffController</servlet-name>
        <url-pattern>/banstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscountController</servlet-name>
        <url-pattern>/deletediscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffController</servlet-name>
        <url-pattern>/editstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffController</servlet-name>
        <url-pattern>/liststaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingController</servlet-name>
        <url-pattern>/marketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingDiscountController</servlet-name>
        <url-pattern>/marketingdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutController</servlet-name>
        <url-pattern>/ad_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutController</servlet-name>
        <url-pattern>/stafflogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingProductController</servlet-name>
        <url-pattern>/marketingproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAddProductController</servlet-name>
        <url-pattern>/marketingaddproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MEditProductController</servlet-name>
        <url-pattern>/marketingeditproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MDeleteProduct</servlet-name>
        <url-pattern>/marketingdeleteproduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
